In [1]:
import selenium
import pandas as pd
import time
from bs4 import BeautifulSoup
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException,ElementNotInteractableException
import requests
import re

In [2]:
url="https://sites.google.com/a/chromium.org/chromedriver/home"

In [3]:
page = requests.get("https://en.wikipedia.org/wiki/Main_Page")

# page content
soup=BeautifulSoup(page.content)

In [4]:
url="https://www.car price pridiction.com/a/chromium.org/chromdrive/home"
soup = BeautifulSoup(page.content, 'html.parser')
url_tags = soup.find_all("h4",class_="italic") # Extract books URL
urls = []
for i in url_tags:
    for j in i.find_all("a", href=True):
        if j.text:
            urls.append(j['href'])

In [5]:
car_name = [] 
year_tags = [] 
selling_price= [] 
km_driven = [] 
fuel_tags=[]
seller_type=[]
transimission_tags=[]
owner_tags=[]

In [6]:
url="https://github.com/anoushk1234/Car-price-expert/blob/main/dataset/CAR%20DETAILS%20FROM%20CAR%20DEKHO.csv"

In [7]:
for url in urls:
    car_name=requests.get('https://www.carname.com'+url)
    soup = BeautifulSoup(car.content, 'html.parser')
    car_name.append(soup.find('th').text.replace('\n','').replace('â˜…','')) 
    year_tags.append(soup.find('th').text.replace('\n',''))
    selling_price.append(soup.find('th').text.replace('\n',''))
    km_driven.append(soup.find('th').text.replace('\n','')) 
    fuel_tags.append(soup.find('th').text.replace('\n',''))
    seller_type.append(soup.find('th').text.replace('\n','')) 
    transmission_tags.append(soup.find('th').text.replace('\n',''))
    owner_tags.append(soup.find('th').text.replace('\n',''))

In [8]:
books=pd.DataFrame({})
books=pd.read_csv("car price.csv")
books.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,Maruti 800 AC,2007,60000,70000,Petrol,Individual,Manual,First Owner
1,Maruti Wagon R LXI Minor,2007,135000,50000,Petrol,Individual,Manual,First Owner
2,Hyundai Verna 1.6 SX,2012,600000,100000,Diesel,Individual,Manual,First Owner
3,Datsun RediGO T Option,2017,250000,46000,Petrol,Individual,Manual,First Owner
4,Honda Amaze VX i-DTEC,2014,450000,141000,Diesel,Individual,Manual,Second Owner